replicaCount: 3

image:
  repository: rlflsehdgur431/my-frontend1
  tag: "1.4"
  pullPolicy: IfNotPresent

containerPort: 80

service:
  name: frontend-svc
  type: LoadBalancer
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

hpa:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50

probes:
  enabled: true
  readinessPath: /
  livenessPath: /
