apiVersion: v1
kind: Service
metadata:
  name: external-minio
  namespace: monitoring
spec:
  ports:
    - port: 9000
      targetPort: 9000
---
apiVersion: v1
kind: Endpoints
metadata:
  name: external-minio
  namespace: monitoring
subsets:
  - addresses:
      - ip: 10.5.4.90  # 외부 MinIO IP
    ports:
      - port: 9000