# ==================================================
# Backend API (Deployment)
# ==================================================

# backend Deployment 파드 개수
replicaCount: 3
# backend Deployment / Pod 라벨
labels:
  app: backend

components:
  api: api
  encoder: encoder

# backend API 컨테이너 이미지
image:
  repository: arjleun581/backend-api
  tag: "6.0"
  pullPolicy: IfNotPresent
# backend API 컨테이너 포트
containerPort: 3000
# ==================================================
# Backend Service (ClusterIP)
# ==================================================
service:
  name: backend-svc
  type: NodePort
  port: 3000
  targetPort: 3000
  nodePort: 32000
# ==================================================
# Backend Autoscaling (HPA)
# ==================================================
autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50

# ==================================================
# Backend Encoder (CronJob + job)
# - 영상 인코딩용 배치 작업
# - 초기 1회 인코딩 job 
# ==================================================
job:
  enabled: true
  name: backend-encode-job
  restartPolicy: OnFailure

  activeDeadlineSeconds: 300   #  30분까지 실행 허용
  ttlSecondsAfterFinished: 300     #  완료 후 5분 뒤 삭제

  image:
    repository: arjleun581/backend-encode
    tag: "1.0"
    pullPolicy: IfNotPresent


cronjob:
  enabled: true
  name: backend-encode-cj
  schedule: "0 0 */5 * *"
  startingDeadlineSeconds: 300  
  concurrencyPolicy: Forbid     
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  restartPolicy: OnFailure
  image:
    repository: arjleun581/backend-encode
    tag: "1.0"
    pullPolicy: IfNotPresent


# ==================================================
# Common NFS (Job / CronJob 공통 사용)
# ==================================================
nfs:
  server: 10.5.4.110
  path: /mnt/video_data
  mountPath: /video_data

# ==================================================
# Backend Secrets (DB / MinIO)
# - Deployment / CronJob 공통 사용
# ==================================================
secrets:
  name: backend-secret
  data:
    # DB 설정
    DB_HOST: "10.5.1.20"
    DB_USER: "stream_app"
    DB_PASSWORD: "app123"
    DB_DATABASE: "streaming"
    # MinIO 설정
    MINIO_ENDPOINT: "10.5.1.20"
    MINIO_PORT: "9000"
    MINIO_USE_SSL: "false"
    MINIO_ACCESS_KEY: "0QAZ30L7IB0GGW1A56O8"
    MINIO_SECRET_KEY: "ZRuLNbCwZIbIp0MQ4NZw5cbyspCRoFLQTkEC7fLS"
    MINIO_BUCKET_HLS: "video-hls"
    MINIO_BUCKET_THUMB: "video-thumb"
# ==================================================
# Backend Resource Management (Deployment)
# ==================================================
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
# ==========================================
# Backend Probe (HTTP based)
# ==========================================
probes:
  enabled: true
  readiness:
    path: /metrics
    initialDelaySeconds: 10
    periodSeconds: 10
    failureThreshold: 3
  liveness:
    path: /metrics
    initialDelaySeconds: 30
    periodSeconds: 20
    failureThreshold: 3