apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: monitoring
data:
  loki.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100
      grpc_listen_port: 9095

    common:
      path_prefix: /var/loki
      replication_factor: 1
      storage:
        s3:
          # 서비스 엔드포인트 (ExternalName 또는 Service+Endpoints)
          endpoint: external-minio:9000 
          # 새로 발급받으신 Loki 전용 키 정보
          access_key_id: "OC14K8BOK41E4OR9V38X"
          secret_access_key: "DvEOJ6OsXnGmmSnLfzMTHPBHLRumprteANbXFSTC"
          bucketnames: "monitoring-loki"
          insecure: true
          s3forcepathstyle: true
      ring:
        instance_addr: 127.0.0.1
        kvstore:
          store: memberlist

    query_range:
      align_queries_with_step: true
      max_retries: 5
      cache_results: true

    limits_config:
      enforce_metric_name: false
      reject_old_samples: true
      reject_old_samples_max_age: 168h

    schema_config:
      configs:
        - from: 2020-10-24
          store: boltdb-shipper
          object_store: s3
          schema: v11
          index:
            prefix: index_
            period: 24h

    storage_config:
      boltdb_shipper:
        active_index_directory: /var/loki/index
        cache_location: /var/loki/cache
        shared_store: s3
    
    ruler:
      storage:
        type: local
        local:
          directory: /var/loki/rules
      rule_path: /var/loki/rules-temp
      ring:
        kvstore:
          store: memberlist